openapi: 3.2.0
info:
  title: Hightouch Id Graphs API
  version: 1.0.0
  description: Hightouch Public Rest API to access syncs, models, sources and destinations
  contact:
    name: Hightouch
    url: https://hightouch.com
servers:
- url: https://api.hightouch.com/api/v1
tags:
- name: Id Graphs
paths:
  /id_graphs/{graphId}/trigger:
    post:
      operationId: TriggerRunIdGraph
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerRunIdrOutput'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Validation Failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateErrorJSON'
      description: 'DEPRECATED: use `/idr/{graphId}/trigger` instead'
      deprecated: true
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: graphId
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerRunIdrInput'
      tags:
      - Id Graphs
      summary: Trigger run id graph
      x-summary-source: derived
components:
  schemas:
    ValidateErrorJSON:
      properties:
        message:
          type: string
          enum:
          - Validation failed
        details:
          properties: {}
          additionalProperties: {}
          type: object
      required:
      - message
      - details
      type: object
      additionalProperties: false
    TriggerRunIdrInput:
      properties:
        fullRerun:
          type: boolean
          description: Whether to resync the entire Identity Graph or process incrementally.
          default: 'false'
      type: object
      description: The input of a trigger action to run IDR.
    TriggerRunIdrOutput:
      properties:
        id:
          type: string
          description: The id of the triggered run.
      required:
      - id
      type: object
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Bearer
